@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/form";
.dummy{
  border: #fff 3px;
}

.text-todo{
    color : #ff0000;
}

h1, h2, h3, h4, h5, h6, h7{
    text-align : center;
    line-height : 150%;
}

p{
    font-size : 1.2em !important;
}
p::first-letter{
    text-transform : uppercase;
}

.section{
    border-bottom : 1px solid #d5d5d5;
}

section{
    padding-top:60px;
    margin-top : -60px;
}

div[id^="ch"]{
    padding-top:60px;
    margin-top : -60px;
}

img{
    max-width: 100%;
}

.gallery__image{
    margin-bottom: 1em;
}


